body{
  background-color:white;
}

p1{
  color : black ;
  text-align : center;
  text-place : left;
  font-family : degular;
}
h1{
  color : black;
  font family : degular;
}

h2{
  color:  black;
  font family : degular
}
