  * {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
    }
    
body {
  font-family : 'Inter', sans-serif;
  background : white;
  color : black;
  }

  header {
  border-bottom : 1px solid black;
  padding : 20px 40px;
}
nav ul {
  display : flex;
  justify-content : flex-end;
  gap : 30px;
  list-style : none;
  font-weight : 700;
 }
 

p1{
  color : black ;
  text-align : center;
  text-place : left;
  font-family : degular;
}
h1{
  color : black;
  font family : degular;
}

h2{
  color:  black;
  font family : degular
}
