  * {
  margin : 5 px;
  padding : 0;
  box-sizing : border-box;
    }
    
body {
  font-family : 'Anton', sans-serif;
  background : white;
  color : black;
  }

  header {
  border-bottom : 1px solid black;
  padding : 20px 40px;
}
nav{
display : flex;
justify-content :flex-end;
gap : 40px;
padding : 20px 40px;
background : white;
position : sticky;
top : 0;
z-index : 10;
font-weight : bold;
}
nav a{
text-decoration : none;
color : black;
transition:.3s;
}
nav a:hover{
color:#ff4fa3;
}
.container{
display : grid;
grid-template-columns : 1fr 1fr;
padding : 40px;
gap : 40px;
}
h1 {
  font-family : 'Anton', sans-serif;
  font-size : 48px;
  margin-bottom : 20px;
}
h2 {
  margin-top : 20px;
  font-weight : 700;
 text-align : right;
}
.texte {
  width : 400px;
  margin-left : 0;
  margin-right : auto;

  text-align : center;

  font-family : 'Anton', sans-serif;
  font-size : 16px;
  line-height : 1.6;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact p {
  color: black;
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  margin: 0;
}

/* style du lien */
a {
  font-family: 'Anton', sans-serif;
  color: black;
  text-decoration: none;
}

a:hover {
  color: #555;
}
}
. container {
  display : grid;
  grid-template-columns : 1fr 1.3fr;
  padding : 40px;
  position : relative;
}
. moifondrose{
position : absolute;
top : 120 px;
left : 60 px;
width : 220 px;
height : auto;
}
 . projet 1{
position : absolute;
top : 120 px;
left : 150 px;
max-width : 350px;
width : 100%;
}

