  * {
  margin : 0px;
  padding : 0;
  box-sizing : border-box;
    }
    
body {
  font-family : 'Anton', sans-serif;
  background : white;
  color : black;
  }

  header {
  border-bottom : 1px solid black;
  padding : 20px 40px;
}
nav{
display : flex;
justify-content :flex-end;
gap : 40px;
padding : 20px 40px;
background : white;
position : sticky;
top : 0;
z-index : 10;
font-weight : bold;
}
nav a{
text-decoration : none;
color : black;
transition:.3s;
}
nav a:hover{
color:#ff4fa3;
}
.container{
display : grid;
grid-template-columns : 1fr 1fr;
padding : 40px;
gap : 40px;
}
h1 {
  font-family : 'Anton', sans-serif;
  font-size : 48px;
  margin-bottom : 20px;
}
h2 {
  margin-top : 20px;
  font-weight : 700;
}
p1{
  color : black ;
  text-align : center;
  text-place : left;
  font-family : 'Anton', sans-serif;
  font-size : 15px
}
.container {
  display : grid;
  grid-template-columns : 1fr 1.3fr;
  padding : 40px;
  position : relative;
}
."moifondrose.png"{
  position:absolute;
top : 120 px;
left : 60 px;
max-width : 350px;
width : 100%;
}

